<form action="/discard">


<div>
  <h2> op's hand</h2>
  <h2> cpu hand add cards <%= @ch_pile %></h2>
  <h2> cpu hand discard pile <%= @cd_pile %></h2>
  <h2> cpu hand list <%= @chl_pile %></h2>
  <h2> new hand <%= @new_cards %></h2>
  
  <% @new_images.each_with_index do |c,i| %>
<input type="checkbox" id="op<%= i %>" name="op<%= i %>" />
          <label for="op<%= i %>"   id="op<%= i+1 %>"  > <img src="<%= c %>"/> </label>
          
          <% end %>
</div>



<div>
<h2> Your hand</h2>
 

    <% @hand_arr.each_with_index do |c, i| %>

      <% if @disable[i]%>

        <ul>
          <li><input type="checkbox" id="card<%= i %>" name="<%= @hand_code[i] %>" class="disabled" disabled />
            <label for="card<%= i %>" > <img src="<%= c %>" id="c<%= i+1 %>" class="disabled"  /></label>
          </li>
        </ul>

      <% else %>
        <ul>

          <li><input type="checkbox" id="card<%= i %>" name="<%= @hand_code[i] %>" />
            <label for="card<%= i %>" > <img src="<%= c %>" id="c<%= i+1 %>"  /></label>
          </li>

        </ul>
      <% end %> <!-- end of if -->
    <% end %> <!-- end of loop -->
  </div>
</div>

<div>
<h2> Discard pile</h2>
<h2> new_king is <%= @new_king %> </h2>
<h2> new_king is <%= @in_king %> </h2>
<h2> top discard is <%= @top_discard %> </h2>

<h2> <%= @discard %> </h2>
<h2> pile is:  <%= @pile %> </h2>
<h2> new_king is <%= @new_king %> </h2>

<ul>
<% @pile_arr.each_with_index do |c, i| %>

<li>  
   <img src="<%= c %>" id="<%= @code_arr[i] %>"  /></label>
</li>

<% end %>
</ul>




<h2> <%= @discard %> </h2>
<h2> pile is:  <%= @pile %> </h2>
<h2> new_king is <%= @new_king %> </h2>

<ul>

<% @king_arr.each_with_index do |c, i| %>



<label for="king_disc<%= i %>" id="king_disc_img<%= i %>"> <button formaction="/discard/king" type="submit" id="king_disc<%= i %>" name="king" value="<%= @king_codes[i] %>"> </button>
    <img src=" <%= c %>"  />
  </label>


<% end %>
</div>






<% if @disable_button%>
<button disabled> discard</button>
<label for="next_draw" id="next_draw_img"> <button formaction="/draw" type="submit" id="next_draw" name="draw" value="next_draw"> draw</button>
    <img src="https://deckofcardsapi.com/static/img/back.png"  />
  </label>
  <% else %>
<button> discard</button>
<label for="next_draw" id="next_draw_img"> <button formaction="/draw" type="submit" id="next_draw" name="draw" value="next_draw"> draw</button>
    <img src="https://deckofcardsapi.com/static/img/back.png"  />
  </label>

  <% end %>
</form>
