<form action="/discard">
<div>
<h2> Your hand</h2>
 

    <% @hand_arr.each_with_index do |c, i| %>

      <% if @disable[i]%>

        <ul>
          <li><input type="checkbox" id="card<%= i %>" name="<%= @hand_code[i] %>" class="disabled" disabled />
            <label for="card<%= i %>" > <img src="<%= c %>" id="c<%= i+1 %>"  /></label>
          </li>
        </ul>

      <% else %>
        <ul>

          <li><input type="checkbox" id="card<%= i %>" name="<%= @hand_code[i] %>" />
            <label for="card<%= i %>" > <img src="<%= c %>" id="c<%= i+1 %>"  /></label>
          </li>

        </ul>
      <% end %> <!-- end of if -->
    <% end %> <!-- end of loop -->
  </div>
</div>

<div>
<h2> Discard pile</h2>
<h2> pile is <%= @pile %> </h2>

<h2> new_king is <%= @new_king %> </h2>

<h2> cards is <%= @cards %> </h2>

<h2> king deck is <%= @king_deck %> </h2>

<ul> 
<% @new_king_arr.each_with_index do |c, i| %>

  <li>  
   <img src="<%= c %>" id="<%= @new_king_codes[i] %>"  /></label>
</li>
<% end %>
</ul>
 
</div>








<% if @disable_button%>
<button disabled> discard</button>
<label for="next_draw" id="next_draw_img"> <button formaction="/draw" type="submit" id="next_draw" name="draw" value="next_draw"> draw</button>
    <img src="https://deckofcardsapi.com/static/img/back.png"  />
  </label>
  <% else %>
<button> discard</button>
<label for="next_draw" id="next_draw_img"> <button formaction="/draw" type="submit" id="next_draw" name="draw" value="next_draw"> draw</button>
    <img src="https://deckofcardsapi.com/static/img/back.png"  />
  </label>

  <% end %>
</form>
