<form action="/discard">
  
  <div class="scroll-container">
    
  <div class="long-content">
   <%  @text.each do |c| %>
    <p> <%= c %> </p>
    <%end%>
  </div>

  </div>

  
  <div class="op">
    <h2> op's hand</h2>
    <% @new_images.each_with_index do |c,i| %>
      <input type="checkbox" id="op<%= i %>" name="op<%= i %>" />
      <label for="op<%= i %>"   id="op<%= i+1 %>"  > <img src="<%= c %>"/> </label>

    <% end %>
  </div>

  <div class="hand">
    <h2> Your hand</h2>

    <% @hand_objs.each_with_index do |c, i| %>

      <% if @disable[i]%>

        <ul>
          <li><input type="checkbox" id="card<%= i %>" name="<%= @code_arr[i] %>" class="disabled" disabled />
            <label for="card<%= i %>" > <img src="<%= @image[i] %>" id="c<%= i+1 %>"  class="disabled" /></label>
          </li>
        </ul>

      <% else %>
        <ul>

          <li><input type="checkbox" id="card<%= i %>" name="<%= @code_arr[i] %>" />
            <label for="card<%= i %>" >
             <img src="<%= @image[i] %>" id="c<%= @code_arr[i] %>" />
            
                <button id="ks_button" name="king" value="KS" class="king_btns"> <img src="/images/KS_symbol.png"/> </button>
                <button id="kc_button" name="king" value="KC" class="king_btns"> <img src="/images/KC_symbol.png"/> </button>
                <button id="kh_button" name="king" value="KH" class="king_btns"> <img src="/images/KH_symbol.png"/> </button>
                <button id="kd_button" name="king" value="KD" class="king_btns"> <img src="/images/KD_symbol.png"/> </button>

                <button id="as_button" name="ace" value="AS" class="ace_btns"> <img src="/images/KS_symbol.png"/> </button>
                <button id="ac_button" name="ace" value="AC" class="ace_btns"> <img src="/images/KC_symbol.png"/> </button>
                <button id="ah_button" name="ace" value="AH" class="ace_btns"> <img src="/images/KH_symbol.png"/> </button>
                <button id="ad_button" name="ace" value="AD" class="ace_btns"> <img src="/images/KD_symbol.png"/> </button>
            
              </label>
          </li>

        </ul>
      <% end %> <!-- end of if -->
    <% end %> <!-- end of loop -->
  </div>
  <!-- 
    <h2> new hand </h2>
    <% @image.each_with_index do |c, i| %>

      <li> <input type="radio" id="hand<%= i %>" name="hand_choice"/>
        <label for="hand<%= i %>">
          <img src="<%= c %>" id="<%= i %>"  /></label>
      </li>
    </label>

  <% end %>
  -->

  <div>
    <h2> Discard pile</h2>
    <% @discard_pile.each_with_index do |c, i| %>
    <label>  <img src="<%= c %>" id="d<%= i+1 %>"  /></label>
  <% end %> <!-- end of loop -->


<% if @disable_button%>
  <button disabled> discard</button>
  <label for="next_draw" id="next_draw_img"> <button formaction="/draw" type="submit" id="next_draw" name="draw" value="next_draw"> draw</button>
    <img src="https://deckofcardsapi.com/static/img/back.png"  />
  </label>
<% else %>
  <button> discard</button>
  <label for="next_draw" id="next_draw_img"> <button formaction="/draw" type="submit" id="next_draw" name="draw" value="next_draw"> draw</button>
    <img src="https://deckofcardsapi.com/static/img/back.png"  />
  </label>

<% end %>
</div>
</form>
