<h1>UNO with Playing Cards </h1>
<!-- /api/process-click"> -->
<form action="/discard">
<h2> Your hand</h2>
<!-- <div id="img"> -->
<% @card_arr.each_with_index do |c, i| %>

<ul>
<!--
<img id="card<%= i %>" class="card" src=<%= c %> onclick="move(event)">
-->
<li><input type="checkbox" id="card<%= i %>" name="<%= @code_arr[i] %>" /> 
  <label for="card<%= i %>" > <img src="<%= c %>" id="c<%= i+1 %>"  /></label>
</li>

<% end %>
</ul>

<h1> discards: <%= @discards %></h1>
<h1> first card: <%= @first_card[0] %></h1>
<h1> game_starting_draw url: <%= @game_starting_draw %></h1>

<h1> card image: <%= @card %></h1>
<h1> first card code: <%= @code %></h1>

<div>
<h1> Draw pile </h1>
<img src="https://deckofcardsapi.com/static/img/back.png" id="draw" />
</div>

<div>
<h1> Discard pile </h1>
<input type="checkbox" id="start_card" name="start_card" /> 
  <label for="start-card" > <img src="<%= @card %>" id="start_card"  /></label>

</div>

<!-- </div> -->
<button>Discard</button>
</form>
