<h1>UNO with Playing Cards </h1>
<!-- /api/process-click"> -->
<form action="/discard">

  <div>
    <h2> op's hand</h2>
    <% @c_image.each_with_index do |c,i| %>
      <input type="checkbox" id="op<%= i %>" name="op<%= i %>" />
      <label for="op<%= i %>"   id="op<%= i+1 %>"  > <img src="<%= c %>"/> </label>
      <!--"https://deckofcardsapi.com/static/img/back.png"-->
    <% end %>
  </div>

  <div class="hand">
    <h2> Your hand</h2>
    <!-- <div id="img"> -->

    <% @card_arr.each_with_index do |c, i| %>

      <% if @disable[i]%>

        <ul>
          <li><input type="checkbox" id="card<%= i %>" name="<%= @code_arr[i] %>" class="disabled" disabled />
            <label for="card<%= i %>" > <img src="<%= c %>" id="c<%= i+1 %>" class="disabled"  /></label>
          </li>
        </ul>

      <% else %>
        <ul>
          <li><input type="checkbox" id="card<%= i %>" name="<%= @code_arr[i] %>"  />

            <label class="button-labels" for="card<%= i %>" >
              <img src="<%= c %>" id="c<%= @code_arr[i] %>"   />

              
                <button id="ks_button" name="king" value="KS" class="king_btns"> <img src="/images/KS_symbol.png"/> </button>
                <button id="kc_button" name="king" value="KC" class="king_btns"> <img src="/images/KC_symbol.png"/> </button>
                <button id="kh_button" name="king" value="KH" class="king_btns"> <img src="/images/KH_symbol.png"/> </button>
                <button id="kd_button" name="king" value="KD" class="king_btns"> <img src="/images/KD_symbol.png"/> </button>

                <button id="as_button" name="ace" value="AS" class="ace_btns"> <img src="/images/KS_symbol.png"/> </button>
                <button id="ac_button" name="ace" value="AC" class="ace_btns"> <img src="/images/KC_symbol.png"/> </button>
                <button id="ah_button" name="ace" value="AH" class="ace_btns"> <img src="/images/KH_symbol.png"/> </button>
                <button id="ad_button" name="ace" value="AD" class="ace_btns"> <img src="/images/KD_symbol.png"/> </button>


            </label>

          </li>
        </ul>

        <!--
<img id="card<%= i %>" class="card" src=<%= c %> onclick="move(event)">
-->

      <% end %> <!-- end of if -->
    <% end %> <!-- end of loop -->
 
  </div>

  <div>
    <h1> Draw pile </h1>
    <!--
    <label for="draw" id="draw_image"> <a href="/draw" id="draw_ref" name="draw"><input type="radio" name="draw" id="draw">  draw </a> </>
         <img src="https://deckofcardsapi.com/static/img/back.png"  />  
    
      </label> 
    
      -->

    <label for="draw" id="draw_image"> <button formaction="/draw" type="submit" id="draw" name="draw" value="draw"> draw</button>
      <img src="https://deckofcardsapi.com/static/img/back.png"  />
    </label>
  </div>

  <div>
    <h1> Discard pile </h1>
    <input type="checkbox" id="start_card" name="start_card" />
    <label for="start-card" > <img src="<%= @card %>" id="start_card" class="discard" /></label>

  </div>

  
  <% if @disable_button%>
    <button disabled> discard</button>
    
    <label for="next_draw" id="next_draw_img"> <button formaction="/draw" type="submit" id="next_draw" name="draw" value="next_draw"> draw</button>
      <img src="https://deckofcardsapi.com/static/img/back.png"  />
    </label>
  <% else %>
    <button> discard</button>
    <label for="next_draw" id="next_draw_img"> <button formaction="/draw" type="submit" id="next_draw" name="draw" value="next_draw"> draw</button>
      <img src="https://deckofcardsapi.com/static/img/back.png"  />
    </label>

  <% end %>

</form>
